@import './styles/reset'
@import './styles/vars'

body
  font-size: 1.125rem
  font-family: $font-body
  font-weight: 400
  line-height: 1
  letter-spacing: 0
  color: $primary

.container
  max-width: $desktop
  padding: 0 16px
  margin: 0 auto