//  MEDIAD

$desktop: 90rem
$table: 48rem
$mobile: 100%

// FONT

$font-body: Roboto
$font: Rowdies

// TEXT

$primary: #181817
$second: #fff
$hover: #FF9F0E

// BACKGROUND

$bg-footer: #fff
$bg-header:#fff
$bg-main: #fff